{% extends 'base.html.twig' %}

{% block title %}Nos partenaires
{% endblock %}

{% block body %}
	<main class="mt-[130px]">
		<h2 class="text-4xl font-bold text-white uppercase text-center font-bold bg-[#688580] py-5">Nos partenaires</h2>
		<section class="bg-[#2D2D2D]">
			<p class="text-2xl pl-10 pt-5 mb-5 text-white">Nous travaillons avec:</p>
			<section class="grid grid-cols-3">
				<article class="flex flex-col items-center justify-center">
					<a href="" class="w-[70%] h-[60%] bg-white flex flex-col justify-center items-center rounded-lg p-10 hover:bg-[#2D2D2D] hover:text-white hover:duration-700 duration-700">
						<p class="text-2xl font-bold">Discac</p>
						<p class="text-sm underline">Catalogue</p>
					</a>
				</article>
				<article class="flex flex-col items-center justify-center">
					<a href="" class="w-[70%] h-[60%] bg-white flex flex-col justify-center items-center rounded-lg p-10 hover:bg-[#2D2D2D] hover:text-white hover:duration-700 duration-700">
						<p class="text-2xl font-bold">Sofema</p>
						<p class="text-sm underline">Catalogue</p>
					</a>
				</article>
				<article class="flex flex-col items-center justify-center">
					<a href="" class="w-[70%] h-[60%] bg-white flex flex-col justify-center items-center rounded-lg p-10 hover:bg-[#2D2D2D] hover:text-white hover:duration-700 duration-700">
						<p class="text-2xl font-bold">Teisseire industrie</p>
						<p class="text-sm underline">Catalogue</p>
					</a>
				</article>
				<article class="flex flex-col items-center justify-center">
					<a href="" class="w-[70%] h-[60%] bg-white flex flex-col justify-center items-center rounded-lg p-10 hover:bg-[#2D2D2D] hover:text-white hover:duration-700 duration-700">
						<p class="text-2xl font-bold">Demeter</p>
						<p class="text-sm underline">Catalogue</p>
					</a>
				</article>
				<article class="flex flex-col items-center justify-center">
					<a href="" class="w-[70%] h-[60%] bg-white flex flex-col justify-center items-center rounded-lg p-10 hover:bg-[#2D2D2D] hover:text-white hover:duration-700 duration-700">
						<p class="text-2xl font-bold">Grohe</p>
						<p class="text-sm underline">Catalogue</p>
					</a>
				</article>
				<article class="flex flex-col items-center justify-center">
					<a href="" class="w-[70%] h-[60%] bg-gray-500 flex flex-col justify-center items-center rounded-lg p-10 hover:bg-[#2D2D2D] hover:text-white hover:duration-700 duration-700">
						<img src="https://cuisinesagensia.fr/wp-content/uploads/2024/06/agensia_logo_blanc2.png" class="h-full" alt="Agensia">
						<p class="text-sm text-white underline mt-5">Catalogue</p>
					</a>
				</article>
			</section>
		</section>
	</main>
{% endblock %}
