{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<main class="mt-[16.9vh]">
		<section class="py-[5vh]">
			<h2 class="text-white text-3xl text-center font-bold">Contact</h2>
		</section>
	</main>
{% endblock %}
