{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<main class="mt-[130px]">
		<h2 class="text-4xl font-bold text-white uppercase text-center font-bold bg-[#688580] py-5">Réalisations de cuisines</h2>
		<section class="bg-[#E6E7E1] p-10 flex flex-col items-center justify-center gap-5">
			<article class="flex flex-col justify-center items-center gap-5">
				<p class="bg-white text-black p-5 w-[60%] rounded-lg">Chez YA Concept Intérieur, nous sommes passionnés par la transformation de cuisines et salles de bains. Notre équipe experte est dédiée à offrir des solutions sur mesure pour chaque client, en apportant une touche d'innovation et de fonctionnalité à chaque projet.</p>
			</article>
			<p class="text-2xl">
				Coordonnées:
			</p>
			<article class="flex items-center gap-5 border border-black rounded-lg p-5">
				<svg preserveaspectratio="xMidYMid meet" data-bbox="20.36 20 159.28 160" viewbox="20.36 20 159.28 160" height="auto" width="30" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
					<defs>
						<style>
							#comp-k1gdjfrh svg [data-color="1"] {
								fill: #000000;
							}
						</style>
					</defs>
					<g>
						<path d="M179.64 180H20.36V83.717L99.476 20l80.164 63.706V180zm-154.142-5.138h149.004V86.185L99.496 26.578 25.498 86.175v88.687z" fill="#000000" data-color="1"></path>
					</g>
				</svg>
				<p>
					7 Rue Maryse Bastié
					<br>
					86100 CHATELLERAULT
				</p>
			</article>
			<article class="flex items-center gap-5 border border-black rounded-lg p-5">
				<svg preserveaspectratio="xMidYMid meet" data-bbox="50.968 20 98.064 160" viewbox="50.968 20 98.064 160" height="auto" width="20" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
					<defs>
						<style>
							#comp-k1gdhchd svg [data-color="1"] {
								fill: #000000;
							}
						</style>
					</defs>
					<g>
						<path d="M135.615 180H64.388c-7.399 0-13.42-6.018-13.42-13.417V33.42c0-7.651 5.769-13.42 13.42-13.42h71.227c7.399 0 13.417 6.021 13.417 13.42v133.163c0 7.399-6.018 13.417-13.417 13.417zM64.388 25.161c-4.786 0-8.259 3.473-8.259 8.259v133.163c0 4.94 4.269 8.256 8.259 8.256h71.227c4.94 0 8.256-4.269 8.256-8.256V33.42c0-4.94-4.269-8.259-8.256-8.259H64.388z" fill="#000000" data-color="1"></path>
						<path fill="#000000" d="M146.451 147.999v5.161H53.548v-5.161h92.903z" data-color="1"></path>
					</g>
				</svg>
				<p>
					Yasmina EBERLE: 06.26.87.51.72
					<br>
					Vincent EBERLE: 06.83.82.76.77
				</p>
			</article>
			<article class="flex items-center gap-5 border border-black rounded-lg p-5">
				<svg preserveaspectratio="xMidYMid meet" data-bbox="20 50.968 160 98.064" viewbox="20 50.968 160 98.064" height="auto" width="30" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label="">
					<defs>
						<style>
							#comp-k1gdq5pk svg [data-color="1"] {
								fill: #000000;
							}
						</style>
					</defs>
					<g>
						<path d="M180 149.032H20V50.968h160v98.064zm-154.839-5.161h149.677V56.129H25.161v87.742z" fill="#000000" data-color="1"></path>
						<path fill="#000000" d="M100 118.79L20.968 55.565l3.226-4.033L100 112.177l75.806-60.645 3.226 4.033L100 118.79z" data-color="1"></path>
					</g>
				</svg>
				<p>
					<a href="mailto:ya.conceptinterieur@gmail.com" class="underline">ya.conceptinterieur@gmail.com</a>
				</p>
			</article>
		</section>
	</main>
{% endblock %}
